
  <div class="custom">
    <div class="custom-slocation-box">
      <mat-icon matSuffix>place</mat-icon>
      <input type="text" placeholder="Search...">
      <mat-icon matSuffix>keyboard_arrow_down</mat-icon>
    </div>

   <div class="custom-search-box">
    <mat-icon matSuffix>search</mat-icon>
    <input type="text" placeholder="Search...">
    <mat-icon matSuffix>mic</mat-icon>
   </div>
  <div class="text">
    <div class="call">
      <mat-icon>phone</mat-icon><span class="call">Call us now <br> 7008576901</span>
     </div>
     <div class="person">
      <mat-icon>person</mat-icon><span>SIGN UP</span>
     </div>
     <div class="cart">
     <mat-icon>shopping_cart</mat-icon><span>CART</span>
     </div>
  </div>
  </div>
  